body {
  background-image: url("https://www.utep.edu/cs/_Files/images/Home/blur-close-up-code-546819.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
ul {
  list-style-type: none;
}
.header {
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: white;
}
button {
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 0.5em;
  padding: 5px;
  color: white;
  background-color: teal;
  border-color: teal;
}
#btntext {
  color: red;
}
#myNav {
  background-color: thistle;
  top: 0px;
}
#navList li {
  font-size: 30px;
  display: inline-block;
  text-align: center;
  padding-left: 30px;
}
#pagename {
  margin: auto;
  font-size: 45px;
  font-weight: bold;
  color: orange;
}
#contact {
  color: aqua;
}
#intro {
  display: block;
  margin: auto;
  color: rgba(55, 100, 224, 0.644);
  border: solid;
}
